build:release --compilation_mode=opt
build:release --swiftcopt=-whole-module-optimization
build:release --features=swift.opt_uses_osize
build --define=RULES_SWIFT_BUILD_DUMMY_WORKER=1
build --strategy=SwiftCompile=local
