# SwiftFormat Configuration

--minversion 0.57.2

# Excluded Files and Paths

--exclude **/XCTestManifests.swift

# Rules

--disable unusedArguments

--enable acronyms
--enable blankLinesBetweenImports
--enable blockComments
--enable emptyExtensions
--enable isEmpty
--enable noGuardInTests
--enable redundantMemberwiseInit
--enable redundantProperty
--enable singlePropertyPerLine

# Configuration

--emptybraces spaced
--header "//\n// {file}\n//\n// Copyright (c) {year} Charles Pisciotta and other contributors\n// Licensed under MIT License\n//\n// See https://github.com/cpisciotta/xcbeautify/blob/main/LICENSE for license information\n"
--importgrouping testable-last
--ifdef no-indent
--indent 4
--onelineforeach convert
--ranges no-space
--redundanttype inferred
--semicolons never
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--xcodeindentation enabled
