# SwiftFormat Configuration

--minversion 0.55.4

# Excluded Files and Paths

--exclude **/XCTestManifests.swift

# Rules

--disable unusedArguments

# Configuration

--emptybraces spaced
--importgrouping testable-last
--ifdef no-indent
--indent 4
--onelineforeach convert
--ranges no-space
--redundanttype inferred
--semicolons never
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--xcodeindentation enabled
